{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<h2>Profil</h2>
<div class="row">
    <div class="col-sm-3 text-right text-secondary">
        Name
    </div>
    <div class="col">
        {{ app.user.name }}
    </div>
</div>
<div class="row">
    <div class="col-sm-3 text-right text-secondary">
        E-Mailadresse
    </div>
    <div class="col">
        {{ app.user.email }}
    </div>
</div>
<h3 class="mt-4">Passwort ändern</h3>

{{ form(form) }}


{% endblock %}
