{% extends 'base.html.twig' %}

{% block title %}Hello ImpressumController!{% endblock %}

{% block body %}
<button data-toggle="collapse" data-target="#demo">Collapsible</button>

<div id="demo" class="collapse">
Lorem ipsum dolor text....
</div>
{% endblock %}
