{% extends 'base.html.twig' %}

{% block title %}Hello ImpressumController!{% endblock %}

{% block body %}
    <h2>Impressum</h2>
    <p>Verantwortlich für diese Webseite:</p>
    <p>
        Jens Herden <br/>
        Mühlstr. 17 <br/>
        34596 Bad Zwesten <br/>
    </p>
    <p>
        E-Mail: <a href="mailto:jens@jherden.de">jens@jherden.de</a>
    </p>
    <p>
        <a href="https://github.com/j-herden/ff-agt">Quellcode auf Github</a>
    </p>
{% endblock %}
