{% extends 'base.html.twig' %}

{% block title %}Hello AboutPageController!{% endblock %}

{% block body %}
<h2>Info</h2>
<p>
    Diese Webseite führt Buch über die Atemschutzausrüstung der Feuerwehren Bad Zwesten.
</p>
<p>
    Die Anzeige und Eingabe neuer Daten erfolgt im <a href="{{ path('dashboard') }}" class="" >Dashboard</a>.
</p>
<p>
    Alle aktuellen Geräte können auch in der <a href="{{ path('lists') }}" class="" >Listenansicht</a> angezeigt werden.
</p>
<p>
    Anstehende <a href="{{ path('maintenance') }}" class="" >Prüftermine</a> werden auch angezeigt.
</p>

{% if not app.user %}
    <p>
        Für die Nutzung ist ein Benutzerkonto erforderlich.
    </p>
    <a href="{{ path('dashboard') }}" class="btn btn-primary" >Anmelden</a>
{% endif %}
{% endblock %}
