{% extends 'base.html.twig' %}

{% block title %}Hello AboutPageController!{% endblock %}

{% block body %}
<h2>Info</h2>
<p>
    Diese Webseite f端hrt Buch 端ber die Atemschutzausr端stung der Feuerwehren Bad Zwesten.
</p>
<p>
    Die Anzeige und Eingabe neuer Daten erfolgt im <a href="{{ path('dashboard') }}" class="" >Dashboard</a>.
</p>
{% if not app.user %}
    <p>
        F端r die Nutzung ist ein Benutzerkonto erforderlich.
    </p>
    <a href="{{ path('dashboard') }}" class="btn btn-primary" >Anmelden</a>
{% endif %}
{% endblock %}
