
<h1>Hallo {{ username|e }}!</h1>

<p>
    Dein E-Mailadresse für das Login lautet: {{ loginemail|e }}
<p>
    Um dein Passwort zurückzusetzen, besuche bitte
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">diese Seite</a>
</p>
<p>
    Der Link läuft in {{ tokenLifetime|date('g') }} Stunden ab ...
</p>

<p>
    Falls du keine Änderung des Passworts angefordert hast, dann kannst du diese E-Mail ignorieren. Dein Passwort hat sich bisher nicht geändert.
</p>
