<h1>Hallo!</h1>

<p>
    Um dein Passwort zurück zu setzen, besuche bitte 
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">diese Seite</a>
    Der Link läuft in {{ tokenLifetime|date('g') }} Stunden ab ...
</p>

<p>
    Cheers!
</p>
