{% extends 'base.html.twig' %}

{% block title %}Neues Passwort eingeben{% endblock %}

{% block body %}
    <h2>Neues Passwort eingeben</h2>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Passwort setzen</button>
    {{ form_end(resetForm) }}
{% endblock %}
