@media print {
    div.dashsettings, div.footer, .pdfdownload, .dashboard form.formAdd, .dashboard form.formRemove
    , .sf-display-none, .dashboard .collapsed , #dropdownMenuButton
    , .dashboard .dropdown-menu {
        display: none !important;
    }
    body {
        background-color: white !important;
    }
}


.table thead th {
    border: none;
}

form.formRemove {
    height: 20px;
    display: inline-block;
}

/* workaround für Chromium */
input[type=date]::-webkit-calendar-picker-indicator
{
    margin-inline-start: 0px;
}

body {
    background-color: lightgray;
}

h2 {
    color: darkblue;
}

form.dashsettings, h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img.header {
    width: 60px;
}

div#header {
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
}

div#page {
    background-color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

div.organisation {
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    margin-top: 8px;
    height: auto;
    background-color: white;
}

div.organisation h3 {
    padding: 8px;
    margin: 0;
    font-size: 120%;
    font-weight: bold;
    /* margin-bottom: 8px; */
}

div.location {
    padding-bottom: 0.5rem;
    height: auto;
    overflow: hidden;
    padding-top: 0;
}

div.location h4 {
    margin: 0;
    margin-top: 0.5rem;
    padding: 8px;
    font-size: 100%;
    font-weight: bold;
    /* background-color: silver; */
}

div.position {
    float: left;
    margin: 4px;
    border: 2px solid silver;
    border-radius: 2px;
    padding: 4px;
    background-color: white;
}

div.footer {
    padding: 0.5rem;
    background-color: silver;
    border-radius: 0 0 4px 4px;
    margin-top: 0.5rem;
}

div.positionName {
    font-weight: bold;
    text-align: right;
}

div.positionName svg {
    color: lightgray;
    margin-left: 30%;
}

div.stockings {
    padding-left: 4px;
}

div.aktivUser {
    text-align: right;
}

div.firstPosition {
    clear: both;
}

h1 {
    padding-top: 0.5rem;
}

div.position form.formAdd {
    margin-top: 20px;
    margin-bottom: 4px;
    text-align: right;
}

div.position input:focus {
    background-color: yellow;
}

div.position input.dateinput, div.position input.deviceId {
    width: 90px;
    height: 24px;
    padding: 2px;
    font-size: 80%;
    border: 1px dotted silver;
    border-radius: 2px;
}

div.position input.dateinput {
    width: 104px;
}

div.position select.maintenance {
    height: 24px;
    padding: 2px;
    font-size: 80%;
    border: 1px dotted silver;
    border-radius: 2px;
    background-color: inherit;
    text-align: right;
}

span.stocking {
    margin: 0;
    padding: 0;
    color: black;
}

span.isRemoved {
    color: #666;
}

/* Icon für collapse */
/* [data-toggle="collapse"] .fa:before {
  content: "\f139";
} */

[data-toggle="collapse"].collapsed  .fa:before {
  content: "\f13a";
}

div.createdat {
    text-align: right;
    font-size: 90%;
    width: 100%;
}

a.pdfdownload {
    /* display: block;
    text-align: right; */
    font-size: 150%;
    margin: 0;
    padding: 0;
    float: right;
}

.maintanance_error {
        background-color: orangered;
    }

.maintanance_warning {
    background-color: orange;
}