@media print {
    div.dashsettings, div.footer, div.aktivUser {
        display: none;
    }
}

/* workaround für Chromium */
input[type=date]::-webkit-calendar-picker-indicator
{
    margin-inline-start: 0px;
}

body {
    background-color: lightgray;
}

h2 {
    color: darkblue;
}

form.dashsettings, h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img.header {
    width: 60px;
}

div#header {
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
}

div#page {
    background-color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

div.organisation {
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    margin-top: 8px;
    height: auto;
    background-color: white;
}

div.organisation h3 {
    padding: 8px;
    margin: 0;
    font-size: 120%;
    font-weight: bold;
    /* margin-bottom: 8px; */
}

div.location {
    margin-bottom: 8px;
    /* border-bottom: 2px solid silver; */
    height: auto;
    overflow: hidden;
    padding-top: 0;
}

div.location h4 {
    margin: 0;
    padding: 8px;
    font-size: 100%;
    font-weight: bold;
//    background-color: silver;
}

div.position {
    float: left;
    margin: 4px;
    border: 2px solid silver;
    border-radius: 2px;
    padding: 4px;
    background-color: white;
}

div.footer {
    padding: 0.5rem;
    background-color: silver;
    border-radius: 0 0 4px 4px;
    margin-top: 0.5rem;
}

div.positionName {
    font-weight: bold;
    text-align: center;
}

div.stockings {
    padding-left: 4px;
}

div.aktivUser {
    text-align: right;
}

h1, h2, h3, h4, h5, div.firstPosition {
    clear: both;
}

div.position form {
    margin-bottom: 4px;
}

div.position input:focus {
    background-color: yellow;
}

input.dateinput, input.deviceId {
    width: 90px;
    height: 24px;
    padding: 2px;
    font-size: 80%;
    border: 1px dotted silver;
    border-radius: 2px;
}

input.dateinput {
    width: 100px;
}

p.stocking {
    margin: 0;
    padding: 0;
    color: black;
    font-weight: bold;
}

p.isRemoved {
    font-weight: normal;
}

# Icon für collapse
[data-toggle="collapse"] .fa:before {
  content: "\f139";
}

[data-toggle="collapse"].collapsed  .fa:before {
  content: "\f13a";
}
