@media print {
    div.dashsettings, div.footer, .pdfdownload, .dashboard form.formAdd, .dashboard form.formRemove
    , .sf-display-none, .dashboard .collapsed , #dropdownMenuButton
    , .dashboard .dropdown-menu {
        display: none !important;
    }
    body {
        background-color: white !important;
    }
}


.table thead th {
    border: none;
}

form.formRemove {
    height: 20px;
    display: inline-block;
}

/* workaround für Chromium */
input[type=date]::-webkit-calendar-picker-indicator
{
    margin-inline-start: 0px;
}

body {
    background-color: lightgray;
}

h2 {
    color: darkblue;
}

form.dashsettings, h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img.header {
    width: 60px;
}

div#header {
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
}

div#page {
    background-color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

div.organisation {
    margin-top: 0.5rem;
}

div.organisation h3 {
    margin: 0;
    /* margin-bottom: 8px; */
}

div.location {
    height: auto;
    overflow: hidden;
    padding-top: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

div.location h4 {
    margin: 0;
    margin-top: 0.5rem;
    padding: 8px;
    font-size: 100%;
    font-weight: bold;
}

div.position {
    float: left;
    margin: 4px;
    border-width: 2px !important;
    border-style: solid !important;
    border-radius: 2px !important;
    padding: 4px;
    background-color: white;
    height: 100%;
}

div.footer {
    padding: 0.5rem;
    background-color: silver;
    border-radius: 0 0 4px 4px;
    margin-top: 0.5rem;
}

div.positionName {
    font-weight: bold;
    text-align: right;
}

div.stockings {
    padding-left: 4px;
}

div.aktivUser {
    text-align: right;
}

div.firstPosition {
    clear: both;
}

h1 {
    padding-top: 0.5rem;
}

div.position form.formAdd {
    margin-top: 20px;
    margin-bottom: 4px;
    text-align: right;
}

div.position input:focus {
    background-color: yellow;
}

div.position input.dateinput, 
div.position input.deviceId {
    width: 90px;
    height: 24px;
    padding: 2px;
    border: 1px dotted silver;
    border-radius: 2px;
    margin-bottom: 4px !important;
}

div.position input.dateinput {
    width: auto;
}

div.position select.maintenance {
    height: 24px;
    padding: 2px;
    font-size: 80%;
    border: 1px dotted silver;
    border-radius: 2px;
    background-color: inherit;
    text-align: right;
    margin-bottom: 8px;
}

span.stocking {
    margin: 0;
    padding: 0;
    color: black;
}

span.isRemoved {
    color: #666;
}

div.createdat {
    text-align: right;
    font-size: 90%;
    width: 100%;
}

a.pdfdownload {
    /* display: block;
    text-align: right; */
    font-size: 150%;
    margin: 0;
    padding: 0;
    float: right;
}

.maintanance_error {
        background-color: orangered;
    }

.maintanance_warning {
    background-color: orange;
}

div.organisation > button.accordion-button {
    box-shadow: none !important;
    font-size: 70%;
    padding: 10px;
}

div.positionName > button.accordion-button {
    padding: 2px;
    background-color: transparent;
    border: none;
}

.accordion-flush >.accordion-item {
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-radius: 2px;
}

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.flexbreak {
    flex-basis: 100%;
    height: 6px;
}