
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

img.header {
    width: 60px;
}

div#page {
    background-color: white;
}

div.organisation {
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    margin-top: 8px;
    height: auto;
    background-color: white;
}

div.organisation h3 {
    padding: 8px;
    margin: 0;
    font-size: 120%;
    font-weight: bold;
    /* margin-bottom: 8px; */
}

div.location {
    margin-bottom: 8px;
    /* border-bottom: 2px solid silver; */
    height: auto;
    overflow: hidden;
    padding-top: 0;
}

div.location h4 {
    margin: 0;
    padding: 8px;
    font-size: 100%;
    font-weight: bold;
//    background-color: silver;
}

div.position {
    float: left;
    margin: 4px;
    border: 2px solid silver;
    border-radius: 2px;
    padding: 4px;
    background-color: white;
}

div.footer {
    border-top: 2px solid black;
    margin-top: 8px;
    padding-top: 8px;
}

div.positionName {
    font-weight: bold;
    text-align: center;
}

div.stockings {
    padding-left: 4px;
}

h1, h2, h3, h4, h5 {
    clear: both;
}

div.position form {
    margin-bottom: 4px;
}

input.dateinput, input.deviceId {
    width: 80px;
    height: 24px;
    padding: 2px;
    font-size: 80%;
    border: 1px dotted silver;
    border-radius: 2px;
}

input.dateinput {
    width: 105px;
}
