<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Feuerwehren Bad Zwesten / Atemschutz{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>Feuerwehren Bad Zwesten - Übersicht Atemschutz</h1>
        {% block body %}{% endblock %}

        <div class="footer">
            Dashboard - About - Impressum
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
