
{# read and display just one flash message type #}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

{# read and display just one flash message type #}
{% for message in app.flashes('warning') %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
{% endfor %}

{# read and display just one flash message type #}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{# read and display just one flash message type #}
{% for message in app.flashes('notice') %}
    <div class="alert alert-primary">
        {{ message }}
    </div>
{% endfor %}
