{% extends 'base.html.twig' %}

{% block title %}Atemschutz Dashboard{% endblock %}

{% block body %}

{{ include('pdfdownload.html.twig') }}

<h2>Atemschutz Dashboard</h2>

<div class="dashsettings">
    {{ include('dashboard/formFilter.html.twig') }}
</div>

{{ include('dashboard/body.html.twig') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
// remeber state of collapses in cookies
    $(document).ready( () => {
        // console.log('Hi there');
        $('.collapse').on('shown.bs.collapse', function ()
        {
            // console.log('shown.bs.collapse');
            var name = $(this).attr('id');
            Cookies.remove(name);
        });
        $('.collapse').on('hidden.bs.collapse', function ()
        {
            // console.log('hidden.bs.collapse');
            var name = $(this).attr('id');
            Cookies.set(name, 'collapsed');
        });
    });
</script>

{% endblock %}
